<h1>Apartmonty</h1>
Looking for a new apartment? Australia's #1 Apartment site, featuring the best stock is <i>Apartmonty.</i>

<ul>
<li><%= link_to 'Recent apartments', search_path(:recent) %></li>
<li><%= link_to 'Bargain two bedroom apartments', apartment_search_path(:bedrooms, 2) %></li>
<li><%= link_to 'The Top Shelf', search_path(:top_shelf) %></li>
<li><%= link_to 'Everything', apartments_path %></li>
</ul>
